{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "mocha",
    "react"
  ],
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "Symbol": false
  },
  "rules": {}
}
