{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "mocha",
    "react",
    "promise"
  ],
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "Symbol": false
  },
  "rules": {}
}
