<div class="content_div">
  <div class="content full_width">
    <div class="content_text">
      E-mail us directly at <a href="mailto:lingsync.info@gmail.com">lingsync.info@gmail.com</a> or fill out the following form:<br /><br />
    <form method=POST action="mailto:tobin.skinner@gmail.com" ENCTYPE="text/plain">
      Name: <input type="text" name="username"><br />
      e-mail: <input type="text" name="email"><br />
      Message <br />
      <textarea name="comments" rows="10" wrap="hard"></textarea>
      <br />
      <input class="mail_button" type="submit" value="Send">
      <input class="mail_button" type="reset" value="Clear">
    </form>
  </div>
  </div>
</div>
