  <div class="content_div" data-ng-show="contentToShow=='welcome'" data-ng-animate="'fade'">
    <h1>A Free Tool for Creating and Maintaining a Shared Database For Communities, Linguists and Language Learners</h1>
  </div>

  <div class="content_div" data-ng-show="contentToShow=='share'" data-ng-animate="'fade'">
    <h1><img src="img/share.png"> Share</h1>
    <span>Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content.</span>
  </div>

  <div class="content_div" data-ng-show="contentToShow=='search'" data-ng-animate="'fade'">
    <h1><img src="img/search.png"> Search</h1>
    Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. 
  </div>

  <div class="content_div" data-ng-show="contentToShow=='revitalize'" data-ng-animate="'fade'">
    <h1><img src="img/revitalize.png"> Revitalize</h1>
    Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. 
  </div>

  <div class="content_div" data-ng-show="contentToShow=='features'" data-ng-animate="'fade'">
    <h1><img src="img/features.png"> Features</h1>
    Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. Lots of content. 
  </div>
<div class="main_body_bottom_bar_container">
  <div class="main_body_bottom_bar">
    <div class="nav_image_container" ng-click="divToShow('share');"><div class="nav_image"><img src="img/share.png"><br /><span>Share</span></div></div>
    <div class="nav_image_container" ng-click="divToShow('search');"><div class="nav_image"><img src="img/search.png"><br /><span>Search</span></div></div>
    <div class="nav_image_container" ng-click="divToShow('revitalize');"><div class="nav_image"><img src="img/revitalize.png"><br /><span>Revitalize</span></div></div>
   <div class="nav_image_container" ng-click="divToShow('features');"><div class="nav_image"><img src="img/features.png"><br /><span>Features</span></div></div>
  </div>
</div>