<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>People</h3>
    The app was developed in collaboration with students, professors, and software developers in the Montr&eacute;al area, including:<br />
    <ul>
      <li><a href="http://linguistics.concordia.ca/bale/">Alan Bale</a> (Concordia, McGill)</li>
      <li><a href="http://gina.ilanguage.ca/">Gina Cook</a> (iLanguage Lab, Concordia)</li>
      <li><a href="http://people.linguistics.mcgill.ca/~jessica">Jessica Coon</a> (McGill)</li>
      <li><a href="https://github.com/Kedersha">Elise McClay</a> (McGill)</li>
      <li><a href="http://gretchenmcculloch.com">Gretchen McCulloch</a> (McGill)</li>
      <li><a href="http://linguistics.concordia.ca/gazette.html">Hisako Noguchi</a> (Concordia)</li>
      <li><a href="http://tobinskinner.com">Tobin Skinner</a> (iLanguage Lab, McGill)</li>
      <li><a href="https://github.com/OpenSourceFieldlinguistics?tab=members">and more...</a></li>
    </ul>
  </div>
</div>
</div>