<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Two apps to access and manage your data</h3>
     <div class="content_text"><a href="#/warning"><h2>LingSync Spreadsheet</h2></a>Quick &amp; easy data entry</div>
     <div class="content_text"><a href="#/dative"><h2>LingSync Dative<br>(under development)</br></h2></a>Powerful research tool</div>
     <div class="content_text"><a href="#/comparisontable"><h2>Comparison Table</h2></a></div>
  </div>
</div>
</div>