<div class="content_div">
  <div class="content">
  	<div class="content_text">
  		<h4>We will be shutting down LingSync.org on August 1, 2017. <a href="#/warning">Details</a></h4>
  		<div class="datagrid"><table>
<thead><tr><th> </th><th>Spreadsheet</th><th>Dative</th></tr></thead>
<tbody>
	<tr><td>Purpose</td><td>Quick &amp; easy data entry</td><td>Advanced research</td></tr>
	<tr class="alt"><td>Custom data fields</td><td>Available</td><td>Available</td></tr>
	<tr><td>Search</td><td>Basic</td><td>Advanced</td></tr>
	<tr class="alt"><td>Auto-glossing</td><td>Available</td><td>Available</td></tr>
	<tr><td>Export</td><td>Basic</td><td>Advanced</td></tr>
	<tr class="alt"><td>Import</td><td>Not available</td><td>Available</td></tr>
<!--	<tr><td>Data consistency</td><td>Data</td><td>data</td></tr>  -->
</tbody>
</table></div>
  	</div>
  </div>
</div>