<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Dative (under development)</h3>
    <ul>
      <li><b>One Database for Both Apps</b>: One and the same database underlies both Dative and Spreadsheet apps, thus you can access your data using either app. Dative is designed to help researchers to thoroughly examine their linguistic data sets. For quick data entry, you can use the Spreadsheet app. </li>
      <li><b>Research Intensive</b></li>
      <li><b>Sophisticated Search</b></li>
      <li><b>Data Consistency</b></li>
      <li><b>Import</b></li>
      <li><b>Export</b></li>
      <li><b>Grammar Modelling</b></li>
      <li><b>Research Paper Creation</b></li>
    </ul>
  </div>
</div>
</div>