<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Dative (under development)</h3>
    <ul>
      <li><b>Research-oriented:</b> The Dative app is designed to help researchers fully utilize their linguistic data and facilitate their research. </li>
      <li><b>Powerful Search:</b> Search expressions targeting specific data fields and using regular expressions can be conjoined, disjoined, or negated to produce powerful queries. </li>
      <li><b>Input Validation:</b> Users can specify valid characters, or character sequences, for each field. The app will warn users when there are invalid inputs.</li>
      <li><b>Morphological cross-referencing:</b> The system indicates whether newly entered morpheme-gloss pairs have matching entries in the existing data, minimizing instances of misspelling and inconsistent glossing.</li>
      <li><b>Orthography conversion:</b> When the object language doesn't have a unified orthographic system, orthography conversion allows users to use their preferred orthographic conventions, while still creating a data set with a single underlying orthography. </li>
      <li><b>Export:</b> Individual entries, search results, texts, entire corpora, and sub-corpora are exportable to variety of formats including (Xe)LaTex, XML, CSV, JSON, TSV, and plain text. </li>
      <li><b>Text Creation:</b> Users can extract data points and create texts without leaving the Dative app. By exporting these texts to other formats, users can quickly convert their raw data into drafts of research papers and text collections. </li>
      <li><b>Import:</b> Import from CSV, TSV, and plain text will be available. </li>
      <li><b>Grammar Modelling:</b> The Dative app allows users to build computational models of phonologies and morphologies based on stored data. From these models, users can create morphological parsers to facilitate morphological analysis as well as to automate the testing of grammatical models against large data sets.</li>
      <li><b>Please note:</b></li>
       <ul>
        <li>You can open the same corpus in both Dative and Spreadsheet. Dative is designed to help researchers thoroughly examine their linguistic data sets. For quick data entry, you can use Spreadsheet. </li>
        <li>In addition to the databases created with LingSync, Dative can also interface with the databases created with the <a target="_blank" href="http://online-linguistic-database.readthedocs.org/"><b>Online Linguisic Database (OLD)</b></a>.</li>
       </ul>
    </ul>
    <ul>
      <li><a target="_blank" href="http://jrwdunham.com/files/lsa-lingsync-tutorial-4-in-development.m4v"><b>Watch a video</b></a> discussing features to be implemented in Dative (the video is from the LingSync presentation at the 2015 LSA annual meeting.) </li>
    </ul>
  
  </div>
</div>
</div>