<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Spreadsheet</h3>
    <h4>Please note that the Spreadsheet app is no longer supported.</h4>
    <ul>
      <li><b>Quick and Easy Data Entry:</b> The clean interface makes it quick and easy to enter data. Suited for linguistic field methods classes, as well as for building databases for group research projects. </li>
      <li><b>Customizable Data Fields:</b> Add and modify data fields according to your project's needs. </li>
      <li><b>Audio Data:</b> Upload audio files (.mp3, .wav), or record audio directly to the app. </li>
      <li><b>Semi-automatic Glosser:</b> Learns morphemes and glosses from your data. Helps streamline morpheme glossing.</li>
      <li><b>Search &amp; Export:</b> Restrictive search narrows down your search from previous search results. Search results are exportable to plain text or WordPress glossed format, to be used in handouts and blogs. </li>
<!--      <li><b>Please note:</b></li>
       <ul>
        <li>The same database underlies both the Spreadsheet app and the Dative app (currently under development). You can choose either app to access your data, depending on your purpose. For quick data entry, you can use Spreadsheet. To investigate your data more thoroughly, Dative is recommended. </li>
        <li>Spreadsheet does not have a data import function. Import capability will be available in Dative.</li>
        <li>Regular expressions can be used in search queries to do more advanced search in Spreadsheet. </li> 
       </ul> -->
  </ul>
  </div>
</div>
</div>