<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Spreadsheet</h3>
    <ul>
      <li><b>Quick and Easy Data Entry</b>: The LingSync Spreadsheet app has a clean user interface which makes data entry quick and easy. It is suitable for linguistic field methods classes. </li>
      <li><b>Customizable Data Fields</b>: You can add and modify data fields
       according to what your project requires. <!-- goals of your porject. --> </li>
      <li><b>Audio Data</b>: You can record your audio data directly to the app. You can also upload audio files (.mp3, .wav).</li>
      <li><b>Semi-automatic Glosser</b>: The app's semi-auto glosser learns
      	morphemes and glosses from your data and helps streamline morpheme glossing.</li>
      <li><b>Search and Export</b>: Narrow-down search targets the data you are
      	looking for. Search results are exportable to simple text or wordpress
      	glossed format to be used in handouts and blogs.</li>
      <li><b>One Database for Both Apps</b>: One database underlies both Spreadsheet and Dative apps. You can choose either app to access your data depending on your purpose. For quick data entry, you can use the Spreadsheet app. To investigate your data more thoroughly, you can use the Dative app. </li>
    </ul>
  </div>
</div>
</div>