<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Spreadsheet</h3>
    <ul>
      <li><b>Quick and Easy Data Entry:</b> The clean interface makes it quick and easy to enter data. Suited for linguistic field methods classes, as well as for building databases for group research projects. </li>
      <li><b>Customizable Data Fields:</b> Add and modify data fields according to project's needs. <!-- goals of your porject. --> </li>
      <li><b>Audio Data:</b> Record audio directly to the app or upload audio files (.mp3, .wav).</li>
      <li><b>Semi-automatic Glosser:</b> The semi-auto glosser learns morphemes and glosses from your data. Helps streamline morpheme glossing.</li>
      <li><b>Search:</b> Narrow-down search targets the data you are looking for.  </li>
      <li><b>Export:</b> Export search results to simple text or wordpress glossed format for handouts and blogs. </li>
      <li><b>Please note:</b>
       <ul>
        <li>The same database underlies both the Spreadsheet and the Dative apps. You can choose either app to access your data depending on your purpose. For quick data entry, you can use the Spreadsheet. To investigate your data more thoroughly, the Dative is recommended. </li>
        <li>The Spreadsheet does not have a data import function. Import capability will be available in the Dative.</li>
        <li>The search function of the Spreadsheet is restrictive - it narrows down search from previous search results. You can use regular expressions in search queries to do more advanced search. Advanced search functions will be implemented with graphic interfaces in the Dative. </li>
       </ul>
  </ul>
  </div>
</div>
</div>