<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Warning</h3>
    LingSync Spreadsheet is no longer supported. Due to this, we have modified Spreadsheet.
    <ul>
    	<li>Users can no longer create new accounts. </li>
    	<li>Users can no longer create new corpora. </li>
    </ul>

If you already have an account and corpora on Spreadsheet, you will still have access to all your data. We are not planning to shut down Spreadsheet; however we will no longer be fixing its bugs. 
</br></br>

<p>Still interested in checking out Spreadsheet? </p>

<div>
<div class="warning_link"><a href="#/spreadsheet">Spreadsheet features</a></div>
<div class="warning_link"><a href="#/tutorial">Spreadsheet tutorial</a> Please note that the steps to create new corpora and new users in the tutorial no longer apply. 
</div>
<div class="warning_link"><a target="_blank" href="http://app.lingsync.org">Spreadsheet app</a></div>
<div>




<div>
</div>
</div>