<div class="content_div">
  <div class="content">
  <div class="content_text">
    <h3>Warning</h3>
    <h4>We will be shutting down LingSync.org on August 1, 2017, after which time corpora will be read-only.</h4>
    <p>2015 Fall semester field methods classes have notified us of many problems in LingSync and we do not recommend using LingSync for future classes.
    <p> If you already have an account and corpora on LingSync, you still have access to your existing data until August 1, 2017 (after which time the corpora will be read-only). Please note, however, that we have disabled new user registration and new corpus creation on the app, and that we are no longer fixing the bugs. </p>

  <p>If you were planning on using LingSync for your classes next semester, please email <a href="mailto:info@lingsync.org">info@lingsync.org</a> for instructions on how to use Dative.</p>


</div>
</div>
</div>
